.bg-light {
    background-color:rgb(191, 226, 240)!important;
}
/* @media (min-width: 992px)
.text-lg-start {
    text-align: right !important
} */
.nav-link{
    direction:rtl;
}
.body{
    background-color: aliceblue;
}
.text-md-start{
    direction:rtl;
    text-align: right !important
}
.navbar{
    position:fixed;
    top:0;
    width: 100%;
    overflow: hidden;
}
